Package: tailscale
Version: VERSION_PLACEHOLDER
Depends: libc, ca-bundle, kmod-tun
Source: https://github.com/tailscale/tailscale
Section: net
Architecture: ARCH_PLACEHOLDER
Maintainer: myurar1a <megasirome181@gmail.com>
Description: Tailscale (Small Build)
  A mesh VPN for easy device connections anywhere.
  Stripped down and optimized for storage-constrained OpenWrt devices.
